@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@300;400;500&display=swap');

.block3,
.block4 {
    width: 1440px;
    display: flex;
    font-family: Roboto, sans-serif;
    color: #000000;
}

body {
    margin: 0;
}

.page-section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}


.container-sct2{
    display: block;
    font-family: Roboto, sans-serif;
    margin-top: 500px;
    width: 100%;
}


.aboux {
    font-family: 'Roboto Slab',sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-top: 91px;
    margin-left: 122px;

}
.text-camera {
    display: flex;
}

.text-a {
    margin-right: 190px;
    width: 662px;
    height: 374px;
    line-height: 150%;
    display: block;
    margin-left: 124px;
    font-size: 24px;
    font-weight: 400;
}

.format-section {
    margin-top: 162px;
}

.format {
    width: 667px;
    height: 93px;
    margin-left: 121px;
}

.access {
    display: inline-block;
}

.webinars {
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
    position: relative;
    margin-left: 124px;
    margin-top: 52px;
}

.communication {
    font-size: 18px;
    margin-left: 124px;
    margin-top: -25px;
}



.fencers {
    margin-left: 870px;
   position: absolute;
   margin-top: 139px;
}

.format {
    font-family: Roboto Slab, sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-left: 121px;
    
}

.what-to-know-section {
    margin-top: 200px;
}

.what-learn {
    font-family: Roboto Slab, sans-serif ;
    font-size: 55px;
    font-weight: 700;
    margin-left: 124px;
    margin-top: 192px;
    position: relative;
}

.block4 {
    margin-top: -17px;
    margin-left: -5px;
}

.learn-list {
    font-size: 24px;;
    width: 662px;
    height: 374px;
    margin-left: 112px;
    line-height: 150%;
    position: relative;
}

.dragon {
    position: absolute;
    margin-left: 855px;
    margin-top: 182px;
    margin-right: 204px;
}

.reviews-section {
    margin-top: 280px;
}

.study {
width: 100%;
height: 740px;
background: #EFEFEF;

}

.camera1{
    margin-top: 61px;
    width: 366px;
    height: 344px;

}
.camera2{
    margin-right: 132px;
    position: relative;
    margin-left: 124px;
    margin-top: 70px;
}
.course {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
    margin-left: 122px;
    padding: 70px 0px 0px;
    box-sizing: border-box;
}


.feedback {
    width: 791px;
    height: 451px;
    background-color: white;
    margin-left: 126px;
    border: 1px solid white;
    border-radius: 30px;
}

.comment {
    width: 700px;
    height: 203px;
    margin: 40px 46px 0px 45px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
    position: relative;
}

.response {
    display: flex;
    flex-direction: row;
}

.block-sub {
    display: flex;
    left: 472px;
    top: 719px;
}

.photo2 {
    width: 190px;
    height: 169px;
    margin: 15px 0px 0px 26px; 
}

.social-name {
    margin-left: -20px;
}

.firstname {
    width: 353px;
    height: 59px;
    margin: 40px 0px 0px 56px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    color: #000000;
}


.facebook {
    width: 32px;
    height: 31px;
    margin-left: 56px;
}

.title {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    margin: 0;
}

.item1 {
    display: inline-block;
    width: 150px;
    height: 90px;
    margin-top: 168px;
    margin-right: 104px;   
}
.item2 {
    display: inline-block;
    width: 150px;
    height: 90px;
    margin-top: 168px;
    margin-right: 104px;   
}
.item3 {
    display: inline-block;
    width: 150px;
    height: 90px;
    margin-top: 168px;
    margin-right: 104px;   
}
.chel{
    width: 304px;
    height: 356px;
}
.subtitle{
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

/* ///// */

.container-program{
    width: 100%;
    margin-top: 224px;
}
.section-head{
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .line {
    font-weight: 900;
    height: 14px;  
    background-color: black;
    margin: 0;
    width: 630px;
 }


.text {
    display: flex;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-left: 121px;
    margin-right: 178px;
    
    
}
.block {
    position: relative;
    display: flex;
    margin-top: 95px;
    flex-wrap: wrap;
    margin-left: 49px;

}

.block-item {
    margin-right: 22px;
    margin-top: 24px;
    margin-left: 22px;
    width: 399px;
    height: 328px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.block-h {
    margin-top: 11px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 130%;
}

.block-text {
    margin-top: 32px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
}
.block-h8{
    line-height: 97%;
    margin-top: 11px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

.block-text8 {
    margin-top: 10px;
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
}

.block1{
    display: flex;
}

.block2 {
    display: flex;   
}

.block3 {
    display: flex;
}

.man {
    position: absolute;
    margin-top: 971px;
    margin-left: 980px;
}

.logo{
   
    margin-top: 21px;
    width: 112px;
    height: 66px;
}
.palka {
    background-color: black;
}
.obsh{
    display: flex;
}

.visitka{
    background-color: #1E4681;
    color: white;
    height: 200px;
    width: 486px;
    text-align: start;
    left: 630px;
    top: 670px;
    border: 5px;
    border-radius: 5px;
    transform:  rotate(-4deg);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32,5;
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 17px;
}
.endi{
    text-align: right;
    font-size: 20px;
    margin: 0;
}
.nach{
    margin: 0;
}
.container{
    margin: 0 auto;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    padding-left: 112px;
}
.tmenu{
    font-family: 'Roboto', sans-serif;
    margin-top: 73px; 
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 400px;
}
.onet{
    margin-left: 8px;
    margin-right: 40px;
}
.twot{
    margin-left: 9px;
    margin-right: 47px;
}
.threet{
    margin-left: 12px;
}
.film{
    font-size: 80px;
    font-weight: 700;
    margin: 0;
    margin-top: -7px;
    line-height: 81.11px;
}
.photo{
    margin-top: 130px;
    margin-left: 150px;
}
.niz{
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;

}

footer{
    box-sizing: border-box;
    background-color: black;
    width: 1440px;
    height: 390px;
    color: white;
}
.foot{
    margin-top: 20px;
    margin-left: 122px;
}
.social{
    margin-left: 122px;
    margin-top: 0px;
    position: relative;
    bottom: 5px;
}

.datafooter{
    margin-left: 122px;
    margin-top: 140px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
} 
.instagram{
 margin-right: 15px;
 height: 33px;
 width: 33px;
}
.facebook2{
    margin-right: 16px;
    height: 33px;
    width: 33px;
}
.vk{
    margin-right: 22px;
    height: 33px;
    width: 33px;
}
.whats{
    margin-right: 22px;
    height: 33px;
    width: 33px;
}
.podval{
    display: flex;
    justify-content: space-between;
}
.contact{
    margin-right: 170px;
    margin-top: 27px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;    
    font-weight: 400;
}
.phnumber{
    margin-right: 25px ;
}
.phon{
    margin-bottom: 0;
}
.email{
    margin-top: 10px;
}
.container-author{
    margin-top: 340px;
    width: 100%;
 }

.author{
    margin: 0;
}

.authors-h1 {
    font-family: 'Roboto Slab',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-left: 122px;
    margin-bottom: 76px;
  
}

.name {
    font-family: 'Roboto Slab',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    margin-bottom: 15px;
}

.subname {
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.face {
    position: absolute;
    margin-left: 156px;
    width: 180px;
    height: 166px;
}

.authors-block {
    position: relative;
    margin-top: 129px;
    margin-left: 365px;
}

.authors-block2 {
    position: relative;
    margin-left: 993px;
    margin-top: -36px;
    
}



.name2 {
    font-family: 'Roboto Slab',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
    margin-bottom: 15px;
}

.subname2 {
    position: relative;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.face2{
    position: absolute;
    width: 180px;
    height: 166px;
    margin-left: 787px;
    margin-top: -31px;
  
}

.info {
    right: 116px;
    position: absolute;
    bottom: 52px;
   

}
.hover-text{
    position: relative;

}

.info1 {
    position: absolute;
    left: 655px;
    bottom: 30px;
}

.hover-text:hover .infotext2 {
    display: block;
}

.hover-text2 {
    position: relative;
}

.hover-text2:hover .infotext{
    display: block;
}

.infotext{
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 379px;
    padding: 24px 21px 24px 25px;
    right: 102px;
    left: 939px; 
    top: -508px;
}

.infotext p {
    margin:0;
}   


.infotext2 {
    display: none;
    box-sizing: border-box;
    flex-direction: column;
    position: absolute;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 274px;
    padding: 31px 21px 17px 25px;
    left: 338px;
    top: 39px;
}

.infotext2 p{
    margin:0;
}

.begin {
    display: flex;
    flex-direction: column;
    height: 740px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    width: 100%;
    background: #9DC9C8;
}
.september {
    font-family: Roboto Slab;
    width: 908px;
    height: 66px;
    margin: 180px 0px 0px 122px;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    color: #000000;
}

.cost {
    width: 170px;
    margin: 54px 0px 0px 121px;
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
}

.price {
    font-size: 80px;
    line-height: 101.38%;
    color: #000000;
    margin: 2px 0px 0px 121px;
}

.information {
    display: flex;
    margin: 68px 0px 0px 129px;
}
.levels {
    display: flex;
    flex-direction: column;
    
    width: 294px;
    margin: 10px 0px 0px -7px;
}

.come {
    display: flex;
    flex-direction: column;
    width: 294px;
    margin: 10px 0px 0px 70px;
}

.level {
    font-size: 25px;
    line-height: 101.38%;
    color: #000000;
    margin: 0px 0px 0px;
}

.from0 {
    font-family: Roboto;
    height: 70px;
    width: 294px;
    font-size: 18px;
    line-height: 110.38%;
    color: #000000;
}


@media (min-width:834px) and (max-width:1279px){
    /* header-section */
  .photo{
      width: 176.07px;
      height: 206.18px;
      margin-top: 139px;
      margin-left:100px
  }
  .logo{
   
    margin-top: 22px;
    width: 64.87px;
    height: 38.23px;
}
.tmenu{
    font-family: 'Roboto', sans-serif;
    margin-top: 73px; 
    margin-bottom: 10px;
    display: flex;
    font-size: 20px;
    font-weight: 400px;
}
.film {
    font-size: 46px;
    font-weight: 700;
    margin: 0;
    margin-top: -7px;
    line-height: 46px;
}
.onet{
font-weight: 400;
font-size: 12px;
line-height:13,8px;
margin-left: 8px;
margin-right: 40px;
}
.twot{
font-weight: 400;
font-size: 12px;
line-height:13,8px;
margin-left: 9px;
margin-right: 47px;
}
.threet{
font-weight: 400;
font-size: 12px;
line-height:13,8px;
margin-left: 12px;
}
.niz {
    font-weight: 400;
    margin-top: 32px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.visitka{
    background-color: #1E4681;
    color: white;
    height: 135.09px;
    width: 287.5px;
    text-align: start;
    border: 5px;
    border-radius: 5px;
    transform:  rotate(-4deg);
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 32,5;
    text-align: left;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 17px;
    margin-left: 165px;
    margin-top: 50px;
}
.nach {
    font-weight: 400;
    font-size: 14px;
    line-height:18,2px;
}
.endi {
    font-weight: 400;
    font-size: 12px;
    line-height:15,6px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
}
.chel{
    width: 176.07px;
    height: 206.18px;
}
    /* header-section */

    /* about-course-section */
.camera2{
    margin-right: 77px;
    margin-left: 124px;
    margin-top: 70px;
}

.block-sub{
    display: flex;
    margin-top: 54px;
}

.item{
    width: 150px;
    margin-top: 168px;
    margin-right: 55px;
}
    /* about-course-section */

    /* format-section */

    /* format-section */

    /* what-to-know-section */
    /* what-to-know-section */

    /* program-section */
    /* program-section */

    /* authors-section */
    /* authors-section */

    /* reviews-section */
    /* reviews-section */

    /* begin-section */
    /* begin-section */

    /* footer-section */
    /* footer-section */
}

@media (min-width:375px) and (max-width: 833px){

    /* header-section */

    /* header-section */

    /* about-course-section */

    .container-sct2 {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Roboto', sans-serif;
        margin-top: 500px;
        width: 100%;
    }
    .text-camera{
        flex-wrap: wrap;
    }

    .text-a {
        height: 374px;
        line-height: 150%;
        display: block; 
        font-size: 24px;
        font-weight: 400;
        width: 375%;
        margin-left: 36px;
        margin-right: 31px;

    }

    .camera1 {
        margin-top: -138px;
        width: 170px;
        margin-left: 101px;
        height: 160px;
    }
    .camera2 {
        width: 108.11px;
        height: 102.05px;
        margin-left: 224px;
    }

    .block-sub {
        display: flex;
        flex-wrap: wrap;
    }

    .item1 {
        margin: -148px 0 0 36px;
        width: 78px;
        height: 90px;
    }
    .item2 {
        width: 104px;
        height: 90px;
        margin-top: -147px;
        margin-right: 104px;
        margin-left: 40px;
    }
    .item3 {
        margin-left: 36px;
        width: 94px;
        height: 90px;
        margin-top: -61px;
    }
    .title{
        font-size: 12px;
    }

    .subtitle {
        line-height: 130%;
        margin-top: 11px;
        font-size: 10px;
    }
    /* about-course-section */

    /* format-section */

    /* format-section */

    /* what-to-know-section */
    /* what-to-know-section */

    /* program-section */
    .man {
        display: none;
    }
    .text-a {
        font-size: 12px;
    }

    .aboux {
        margin-left: 36px;
        font-size: 27px;
    }
    /* program-section */

    /* authors-section */
    /* authors-section */

    /* reviews-section */
    /* reviews-section */

    /* begin-section */
    /* begin-section */

    /* footer-section */
    /* footer-section */
}

